.table-container {
  padding: 5px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #eaebef;
}

.custom-tr {
  font-weight: bold;
  height: 60px;
  padding: 10px 0;
}

.image > img {
  border-radius: 3px;
}

.text {
  height: 18px;
}